.home {
  height: 100%;
}

.home .song {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.song__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}