.song-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  animation: fadeIn 0.5s ease-in-out;
  margin: 0 1rem;
}

.song-item__image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.song-item__meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.song-item__description {
  text-align: center;
}

@keyframes fadeIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}